.admin-wrapper {
    width: 100vw;
    position: relative;
    padding: 10vh 10vw;

    .body-wrapper {
        width: 100%;
        padding-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;

        .export-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 10vh 10vw;
            p {
                font-size: 26px;
                color:rgb(80, 80, 80);
                margin-right: 1rem;
            }

            i {
                color:rgb(5, 5, 5);
                font-size: 32px;
                transition: all .2s;

                &:hover {
                    color: rgb(16, 16, 155)
                }
            }
        }
    }
}



.user-item {
    width: 250px;
    height: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    padding: 2rem 1rem;
    margin: 1rem 30px;

    &::after, &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all .4s ease-in-out;
        z-index: -1;
    }

    &::after {
        transform: scaleX(30%);
        border-bottom: 1px solid rgb(5, 5, 5);
        border-top: 1px solid rgb(5, 5, 5);
    }

    &::before {
        transform: scaleY(30%);
        border-left: 1px solid rgb(5, 5, 5);
        border-right: 1px solid rgb(5, 5, 5);
    }

    &:hover {
        &::before {
            transform: scaleY(100.5%);
            opacity: 1;
        }
        &::after {
            transform: scaleX(100.5%);
            opacity: 1;
        }
    }



    .center {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        cursor: pointer;
        button {
            padding: 15px 35px;
            outline: none;
            background-color: rgb(16, 16, 155);
            color: white;
            border-radius: 5px;
            border: none;        
            transition: all .2s;

            &:hover {
                opacity: .8;
            }
        }
    }
}



.add-settings-container {
    position: fixed;
    top: 40vh;
    right: 15px;
    box-shadow: 0 0 15px 2px rgba(16, 16, 155, .3);
    width: 250px;
    height: 350px;
    transition: transform .4s;
    transform: translateX(265px);
    padding: 1rem .5rem;
    .expand {
        position: absolute;
        height: 50px;
        width: 30px;
        top: calc(50% - 25px);
        left: -30px;
        background-color: white;
        color:rgb(16, 16, 155);
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .4s;
        cursor: pointer;
    }
    .exp-active {
        transform: rotate(180deg);
    }
    .active {
        transform: translateX(0);
    }
    .heading {
        width: 100%;
        text-align: center;
    }
    .add-item-container {
        display: grid;
        width: 100%;
        grid-template-columns: 70% 30%;
        p {
            border: 1px solid black;
            padding: .25rem .5rem;
        }
        .link {
            transition: all .2s;
            cursor: pointer;
            &:hover {
                color:rgb(16, 16, 155);
                text-decoration: underline;
            }
        }
    }
}