.measurements-container {
    padding-top: 10vh;
    width: 100%;
    position: relative;
    nav {
        width: 100%;
        display: flex;
        div {
            width: 50%;
            display: flex;
            justify-content: center;
            p, .active {
                color: rgb(16, 16, 155);
                transition: all .2s;
                position: relative;
                padding: .25rem .5rem;
                overflow: hidden;
                text-align: center;
                width: clamp(98px, 20%, 120px);
                cursor: pointer;
                font-weight: bold;
                font-size: 20px;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: rgb(16, 16, 155);
                    transform: translateY(5px);
                }
                &:hover::after {
                    transform: translateY(0);
                }
            }
            
        }
    }



    .input-container {
        width: 80%;
        position: relative;
        margin: 5vh 10%;


        form {
            margin-left: 10%;
            width: 80%;
            display: grid;
            grid-template-rows: 3rem 3rem;
            

            div {
                display: flex;
                justify-content: space-around;
                #value {
                    padding: .25rem .5rem;
                }
                input {
                    max-height: 2rem;
                }
            }

            button {
                background-color: rgb(16, 16, 155);
                border: none;
                padding: .25rem .5rem;
                color: white;
                font-size: 18px;
                cursor: pointer;
                width: 80px;
                border-radius: 5px;
                align-self: center;
                justify-self: center;
                transition: all .2s;

                &:hover {
                    background-color: rgba(16, 16, 155, .8);
                }
            }  
        }
    }


    .measurements-list {
        width: 80%;
        margin: 5vh 10%;
        .header, .list {
            width: 60%;
            margin-left: 20%;
            display: grid;
            grid-template-columns: 120px 100px 1fr 80px;
            h3, p {
                padding: .25rem .5rem;
                border-bottom: 1px solid black;
            }

            div {
                display: flex;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid black;
                i {
                    align-self: center;
                    justify-self: center;
                    cursor: pointer;
                    transition: color .2s;
                    &:hover {
                        color: red;
                    }
    
                }
            }
        }

    }

    .e-i-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10vh 10vw 0 10vw;
        p {
            font-size: 26px;
            color:rgb(80, 80, 80);
            margin-right: 1rem;
        }

        i {
            color:rgb(5, 5, 5);
            font-size: 32px;
            transition: all .2s;

            &:hover {
                color: rgb(16, 16, 155)
            }
        }
    }
    
}